body {
    background: #333;
    box-sizing: border-box;
    padding: 1em;
    font-family: Helvetica;
}

#input-wrapper {
    position: relative;
    height: 4em;
}

textarea {
    font-family: Helvetica;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    font-size: 2em;
    padding: 0.5em;
    margin: 0;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
}

#input {
    -webkit-transition: border 0.3s;
    z-index: 1;
    background: transparent;
}

#input:focus {
    border-color: #222;
}

#input-back {
    color: silver;
}

#results {
    background: #fff;
    color: #333;
    padding: 0 0.5em 0.5em;
    font-size: 2em;
}

.hide {
    display: none;
}
